.products {
  padding: 24px 0;
}

.products__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 1;
  color: var(--dark);
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 12px;
}

.products__item {
}
